{% extends '../common/_blank.html' %}
{% block title %} Login {% endblock %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
{% load static %}
<section class="ud-login">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-login-wrapper">
          <div class="ud-login-logo">
            <img src="{% static 'images/logo/logo-2.svg' %}" alt="logo" />
          </div>
          <form class="ud-login-form" method="post" action="{% url 'signin' %}">
            {% csrf_token %}
            {% for field in form %}
            <div class="ud-form-group">
              {{field}}
              {% if field.errors %}
                <div class="alert alert-danger">
                  {% for error in field.errors %}
                      <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            {% endfor %}
            {% if form.non_field_errors %}
              <div class="alert alert-danger">
                  {{ form.non_field_errors }}
              </div>
            {% endif %}
            <div class="ud-form-group">
              <button type="submit" class="ud-main-btn w-100">{% trans "Kirish" %}</button>
            </div>
          </form>

          <div class="ud-socials-connect">
            <p>{% trans "yoki" %}</p>
            <ul>
              <li>
                <a href="javascript:void(0)" class="facebook">
                  <i class="lni lni-linkedin-original"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="twitter">
                  <i class="lni lni-telegram-original"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="google">
                  <i class="lni lni-google"></i>
                </a>
              </li>
            </ul>
          </div>

          <a class="forget-pass" href="javascript:void(0)">
            {% trans "Parolni unutdingizmi?" %}
          </a>
          <p class="signup-option">
            {% trans "Yangimisiz?" %} <a href="{% url 'signup' %}">{% trans "Ro'yxatdan o'ting" %}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}