{% extends '../common/_blank.html' %}
{% block title %} Sahifa topilmadi {% endblock %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
{% load static %}
<section class="ud-404">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-404-wrapper">
          <div class="ud-404-content">
            <h2 class="ud-404-title">400</h2>
            <h5 class="ud-404-subtitle">
              Sahifa topilmadi
            </h5>
            <ul class="ud-404-links">
              <li>
                <a href="javascript:void(0)">Orqaga</a>
              </li>
              <li>
                <a href="{% url 'home' %}">Bosh sahifa</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>    
{% endblock content %}