{% extends '../common/_base.html' %}
{% block title %}Blog{% endblock %}
{% block meta %}
  <meta name="description" content="{{article.description}}">
  <meta name="author" content="{{article.author.first_name}} {{article.author.last_name}}">

  <meta property="og:title" content="Machine Learning va sun'iy intellekt haqida maqolalar">
  <meta property="og:description" content="Machine Learning va sun'iy intellekt haqida maqolalar">
  <meta property="og:url" content="{{request.build_absolute_uri}}">
  <meta property="og:image:alt" content="{{article.title}}"/>

  <meta name="twitter:title" content="{{article.title}}">
  <meta name="twitter:description" content="{{article.description}} - Deeply">
{% endblock %}
{% block content %}
{% load i18n %}
{% load humanize %}
<!DOCTYPE html>
{% load static %}
<section class="ud-blog-grids">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 offset-lg-1">
        <div class="row">
          <h1 class="tag-name">{{tag_name}}</h1>
          <span class="tag-results">{{articles|length}} article{{articles|length|pluralize}}
          </span>
          {% if articles %}
          {% for article in articles %}
            <div class="col-lg-12 col-md-6">
              <div class="ud-single-blog">
                <div class="ud-blog-content">
                  <div class="ud-blog-author-details">
                    <img class="ud-blog-author-img" src="https://demo.graygrids.com/themes/blink/assets/images/testimonial/testi-2.png" alt="{{article.author.first_name}} {{article.author.last_name}}">
                    <a class="ud-blog-author-name" href="javascript:void(0)">
                      {{article.author.first_name}} {{article.author.last_name}} 
                    </a>
                    {% if article.author.is_verified %}
                      <img src="{% static 'images/blog/badge.svg' %}"/>
                    {% endif %}
                  </div>
                  <h3 class="ud-blog-title">
                    <a href="{% url 'article' article.slug %}">
                      {{article.title}}
                    </a>
                  </h3>
                  <p class="ud-blog-desc">
                    {{article.content|slice:"200"}} ...
                  </p>
                  <ul class="ud-blog-stat">
                    <li class="ud-blog-stat-published">
                      <ul>
                        <li>
                          <i class="lni lni-tag"></i>
                        </li>
                        {% for tag in article.tags.all %}
                          <li><a href="{% url 'tag' tag.slug %}">{{tag.name}}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                    <li><i class="lni lni-thumbs-up"></i> {{article.upvotes|intcomma}} </li>
                    <li><i class="lni lni-user"></i> {{article.views|intcomma}} </li>
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="col-lg-4">
        <aside class="blog-aside">
          {% if most_read_articles %}
          <div class="hot-articles">
            <h6 class="title">{% trans "Eng ko'p o'qilgan" %}</h6>
            {% for article in most_read_articles %}
            <div class="hot-article">
              <div class="hot-article-details">
                <img class="ud-blog-author-img" src="https://demo.graygrids.com/themes/blink/assets/images/testimonial/testi-2.png" alt="author">
                <a class="ud-blog-author-name" href="javascript:void(0)">
                  {{article.author.first_name}} {{article.author.last_name}} 
                </a>
                {% if article.author.is_verified %}
                  <img src="{% static 'images/blog/badge.svg' %}" class="author-verified-badge" alt="verified_badge"/>
                {% endif %}
              </div>
              <a class="hot-article-title" href="{% url 'article' article.slug %}">{{article.title}}</a>
            </div>
            {% endfor %}
          </div>
          {% endif %}
          <div class="write-banner">
            <h4 class="write-banner-title">{% trans "Siz ham tajribangizni ulashing!" %}</h4>
            <a href="#" class="write-banner-button"><i class="lni lni-pencil"></i> {% trans "Yozish" %}</a>
          </div>
          {% if all_tags %}
          <div class="tags">
            <h6 class="title">{% trans "Barcha teglar" %}</h6>
            {% for tag in all_tags %}
            <a href="{% url 'tag' tag.slug %}" class="tag-name">{{tag.name}}</a>
            {% endfor %}
          </div>
          {% endif %}
        </aside>
      </div>
    </div>
  </div>
</section>
{% endblock content %}