<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="data science,artificial intelligence,machine learning,deep learning,data analysis,mathematics,math,nlp,llm">
    <title>{% block title %}{% endblock %}</title>
    {% block meta %} {% endblock meta %}
    <meta property="og:locale" content="uz_UZ" />
    <meta property="og:locale:alternate" content="ru_RU"/>
    <meta property="og:locale:alternate" content="en_US"/>
    <meta property="og:site_name" content="Deeply.uz">
    <meta property="og:image" content="">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'css/lineicons.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/ud-styles.css' %}" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/a11y-light.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  </head>
  <body>

    {% include "../common/_header.html" %}
    
    {% block content %} {% endblock %}

    {% include "../common/_footer.html" %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/scroll.js' %}"></script>
  </body>
</html>
