{% load static %}

<footer class="ud-footer">
    <div class="shape shape-3">
      <img src="{% static '/images/footer/shape-3.svg' %}" alt="shape">
    </div>
    <div class="ud-footer-widgets">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="ud-widget">
              <a href="index.html" class="ud-footer-logo">
                <img src="{% static 'images/logo/logo.png' %}" alt="logo" />
              </a>
              <p class="ud-widget-desc">
                We create digital experiences for brands and companies by
                using technology.
              </p>
              <ul class="ud-widget-socials">
                <li>
                  <a href="https://x.com/ds_ravshan" target="_blank">
                    <i class="lni lni-facebook-filled"></i>
                  </a>
                </li>
                <li>
                  <a href="https://x.com/ds_ravshan" target="_blank">
                    <i class="lni lni-twitter-filled"></i>
                  </a>
                </li>
                <li>
                  <a href="https://x.com/ds_ravshan" target="_blank">
                    <i class="lni lni-instagram-filled"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/iravshan/" target="_blank">
                    <i class="lni lni-linkedin-original"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
            <div class="ud-widget">
              <ul class="ud-widget-links">
                <li>
                  <a href="javascript:void(0)">Data Science</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Machine Learning</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Deep Learning</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Computer Vision</a>
                </li>
                <li>
                  <a href="javascript:void(0)">NLP</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
            <div class="ud-widget">
              <ul class="ud-widget-links">
                <li>
                  <a href="javascript:void(0)">Python</a>
                </li>
                <li>
                  <a href="javascript:void(0)">NumPy</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Pandas</a>
                </li>
                <li>
                  <a href="javascript:void(0)">SciPy</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Matplotlib</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
            <div class="ud-widget">
              <ul class="ud-widget-links">
                <li>
                  <a href="https://lineicons.com/">Chiziqli algebra va analitik geometriya</a>
                </li>
                <li>
                  <a href="https://lineicons.com/">Statistika va ehtimollar nazariyasi</a>
                </li>
                <li>
                  <a href="https://lineicons.com/">Matematika analiz asoslari</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
            <div class="ud-widget">
              <ul class="ud-widget-pages">
                <li>
                  <a href="https://lineicons.com/">Foydalanish shartlari</a>
                </li>
                <li>
                  <a href="https://lineicons.com/">Qo'llanma</a>
                </li>
                <li>
                  <a href="https://lineicons.com/">Murojaat</a>
                </li>
                <li>
                  <a href="https://lineicons.com/">Sitemap</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ud-footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="ud-footer-bottom-left">
              <p>2024 &copy; copyright. Powered by Fornat</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>