{% load static %}

<footer class="ud-footer">
    <div class="shape shape-3">
      <img src="{% static '/images/footer/shape-3.svg' %}" alt="shape">
    </div>
    <div class="ud-footer-widgets">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-6">
            <div class="ud-widget">
              <a href="{% url 'home' %}" class="ud-footer-logo">
                <img src="{% static 'images/logo/logo.png' %}" alt="logo" />
              </a>
              <p class="ud-widget-desc">
                We create digital experiences for brands and companies by
                using technology.
              </p>
              <ul class="ud-widget-socials">
                <li>
                  <a href="https://www.facebook.com/profile.php?id=61554652868509" target="_blank">
                    <i class="lni lni-facebook-filled"></i>
                  </a>
                </li>
                <li>
                  <a href="https://x.com/ds_ravshan" target="_blank">
                    <i class="lni lni-twitter-filled"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/ds.ravshan/" target="_blank">
                    <i class="lni lni-instagram-filled"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/iravshan/" target="_blank">
                    <i class="lni lni-linkedin-original"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ud-footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="ud-footer-bottom-left">
              <p>2024 &copy; copyright. Powered by Fornat</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>