<header class="ud-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg top-navbar">
            <button class="navbar-toggler">
              <span class="toggler-icon"> </span>
              <span class="toggler-icon"> </span>
              <span class="toggler-icon"> </span>
            </button>
            <div class="navbar-collapse">
              <ul id="nav" class="navbar-nav">
                <li class="nv-item">
                  <a class="navbar-brand mx-3" href="{% url 'home' %}">
                    <img src="assets/images/logo/logo.png" alt="Logo" />
                  </a>
                </li>
              </ul>
            </div>
            <div class="navbar-btn d-none d-sm-inline-block">
              <div class="dropdown">
                <button class="ud-main-btn dropdown-toggle"><i class="fas fa-language"></i></button>
                <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
              </div>
              {% if not user.is_authenticated %}
              <a class="ud-main-btn ud-white-btn" href="{% url 'signIn' %}">
                Login
              </a>
              {% else %}
              <a class="ud-main-btn ud-white-btn account-btn" href="#">
                {{ user.full_name|slice:":1" }}
              </a>
              {% endif %}
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="container-fluid sub-navbar">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <div class="navbar-collapse">
              <ul id="nav" class="navbar-nav">
                <li class="nav-item">
                  <a href="javascript:void(0)">Python</a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)">NumPy</a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)">Pandas</a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)">SciPy</a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)">Matplotlib</a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)">Seaborn</a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)">Keras</a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)">PyTorch</a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)">SQL</a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)">PostgreSQL</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'course' 'data-science' %}">Data Science</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'course' 'machine-learning' %}">Machine Learning</a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)">Deep Learning</a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)">NLP</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
</header>
